*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  /* background: #333; */
}

.head-img{
  width: 100vw;
  height: 100px;
  object-fit: cover;
}
.dropdown-section{
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
  margin-top: 0px;
  padding-top: 15px;
}
.dropdown{
  display: inline-block;
}

.btn{
  font-size: 12px;
  border: none;
  border-radius: 0;
}
.master-container, .btn, .card{
  background-color: #333;
}

.card-img-top{
  width: 70%;
  margin: auto;
}
.card-title, .card-text{
  text-transform: capitalize;
}


@media only screen and (min-width: 600px) {
  .head-img{
    height: 300px;
    object-position: 30% 40%;
  }
  .btn{
    font-size: 20px;
  }
}
@media only screen and (min-width: 769px) {
  .card-img-top{
    width: 100%;
    margin: auto;
  }
  .btn{
    font-size: 20px;
  }
}
